# Maven build
target/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/
.history

# Maven
.mvn
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# MacOS
.DS_Store
